<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <!-- MySQL 数据库配置 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="connection.username">root</property>
        <property name="connection.password">woailo99</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Disable the second-level cache  -->
        <!-- <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>  --> 
        
        <!-- 启用二级缓存，并使用EHCache作为缓存提供方 -->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        
        <!-- 指定Hibernate每次提交SQL的数量 -->
        <property name="hibernate.jdbc.batch_size">20</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- add the mapping file(s) for persistent classes -->
        <!-- 用到哪个就把哪个从 注释 块中拿出来，否则全加载效率太低
        <mapping resource="hibernate/transaction/DVD.hbm.xml"/>
        <mapping resource="hibernate/dataloading/Car.hbm.xml"/>
        <mapping resource="hibernate/collection/list/Product.hbm.xml"/>
        <mapping resource="hibernate/collection/set/Product.hbm.xml"/>
        <mapping resource="hibernate/collection/bag/Product.hbm.xml"/>
        <mapping resource="hibernate/collection/map/Product.hbm.xml"/>
        <mapping resource="hibernate/callback/Photo.hbm.xml"/>
        <mapping resource="hibernate/lifecycle/Entity.hbm.xml"/>
        <mapping resource="hibernate/template/City.hbm.xml"/>
        <mapping resource="hibernate/PersonVO.hbm.xml"/>
        <mapping resource="hibernate/pagination/Record.hbm.xml"/>
        <mapping resource="hibernate/callback/interceptor/Account.hbm.xml"/>
        <mapping resource="hibernate/cache/Book.hbm.xml"/>
        <mapping resource="hibernate/cache/Worker.hbm.xml"/>
        -->
        <mapping resource="hibernate/dataloading/lazy/Computer.hbm.xml"/>
        <mapping resource="hibernate/dataloading/lazy/Student.hbm.xml"/>
    </session-factory>
</hibernate-configuration>